    
    
    .blocktext {
        margin-left: auto;
        margin-right: auto;
        width: 1100px
    }

    .scheme {
        text-align: center;  
    }
    
    header {
        background-color: black;
        font-family: fantasy;
        color: goldenrod;
        text-indent: 25px;
        text-shadow: 3px 3px green;
    }

    main {
        background-color: black;
        font-family: fantasy;
        color: goldenrod;
        text-indent: 25px;  
    }

    body {
        background-color: black;
    }
    a {
        background-color: black;
        font-family: fantasy;
        color: goldenrod;
        text-indent: 25px;
        text-shadow: 3px 3px green;
        
    }
    
    nav {
        background-color: black;
        font-family: fantasy;
        text-align: center;   
    }

    footer {
        background: black;
        font-family: fantasy;
        color: goldenrod;
        text-indent: 25px;
        font-size: 1.2em;
        text-align: center;
    }

    h1 {
        font-family: fantasy;
        color: goldenrod;
        font-size: 3em;
        text-indent: 25px;
        text-shadow: 3px 3px green;
    }

    h2 {
        font-family: fantasy;
        color: goldenrod;
        font-size: 2em;
        text-indent: 25px;
        text-shadow: 3px 3px green;

    }

    h3 {
        font-family: fantasy;
        color: goldenrod;
        font-size: 1.2em;
        text-indent: 25px;
        text-shadow: 3px 3px green;
    }

    p {
        font-family: fantasy;
        color: goldenrod;
        font-size: 1.2em;
        text-indent: 25px;
        text-align: center;
    }

    input[type=text] {
        background-color: black;
        color: black;
      }

      ul { 
        margin-left: auto;
        margin-right: auto;
        width: 50em
       
     }

     li {
        text-align: left;
        font-size: 1.2em;
        
     }

     blockquote {
        font-size: 1.2em;
     }


